@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Regular.ttf') format('truetype');
}


html {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    text-size-adjust: 100%;
    height: 100%;
    /* Set the HTML element to fill the viewport height */
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    /* Remove default body margin */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Set the body to fill the viewport height */
}

main.home {
    flex: 1;
    /* Allow the main content to take the remaining vertical space */
    display: flex;
    flex-direction: column;
}

main.container-fluid {
    background-color: #95C0D3;
}

.main-background {
    background-color: #95C0D3;
}

.container {
    background-color: #95C0D3;
    padding: 20px;

}


.navbar {
    background-color: #333 !important;

}

.navbar-toggler {
    background-color: #95C0D3;
}

.navbar-nav .nav-link {
    color: #fff;
}

.navbar-brand {
    color: #fff;
}



.home {

    height: 100vh;
}

#home-text {
    text-align: center;
    padding-top: 10px;
}

#home-text h1 {
    font-size: 4rem;
    line-height: 1.2;
}

#home-text p {
    font-size: 2rem;
    line-height: 1.5;
    margin-top: 2rem;

}

@media (max-width: 768px) {
    #home-text h1 {
        font-size: 2rem;
        line-height: 1.2;
    }

    #home-text p {
        font-size: 1.5rem;
        line-height: 1.5;
        margin-top: 2rem;
    }
}

/* CSS for header responsiveness */
@media (max-width: 767px) {
    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }

    .navbar-collapse {
        margin-top: 10px;
    }

    .navbar-toggler {
        margin: 0 auto;
    }

    .nav-item {
        margin-bottom: 10px;
    }
}


@media (max-width: 767px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .left-section,
    .middle-section,
    .right-section {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
}



footer {
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.left-section,
.middle-section,
.right-section {
    flex-basis: 33.33%;
    text-align: center;
}

.middle-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle-section h3,
.middle-section ul {
    margin: 0;
    padding: 0;
}

.middle-section ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-section ul li {
    margin: 5px 0;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons a {
    margin: 0 10px;
}

.university-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.university-link img {
    max-width: 30px;
    height: auto;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin-bottom: 10px;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
}

@media (max-width: 767px) {
    #buttons {
        top: 80%;
        /* Adjust the top position for smaller screens */
    }
}


.button {
    display: inline-block;
    background-color: #333;
    color: white;
    font-size: 1.2rem;
    padding: 0.8rem 2.5rem;
    border-radius: 30px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: #333;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.pagination button {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
    font-size: 16px;
    margin: 0 5px;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #f5f5f5;
}

.pagination button.active {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.project {
    padding: 20px;
}

.project h2 {
    font-size: 2rem;
    /* Reduce font size for project titles on smaller screens */
}

.project p {
    font-size: 1.2rem;
    /* Adjust font size for project descriptions on smaller screens */
}


.project-gallery img {
    max-width: 90%;
    /* Set the maximum width to ensure images scale properly on smaller screens */
    max-height: 300px;
    /* Keep the maximum height to maintain aspect ratio */

}

@media (max-width: 767px) {
    .project-gallery img {
        max-width: 70% !important;
        
        max-height: 300px;
        
    }
}

@media (max-width: 767px) {
    .lb-nav {
        display: block;
        /* Show the navigation arrows */
    }

    .lb-prev,
    .lb-next {
        background: rgba(0, 0, 0, 0.5);
        /* Background color for arrows */
        color: #fff;
        /* Arrow color */
        padding: 5px 10px;
        /* Adjust the padding as needed */
        font-size: 1.2rem;
        /* Adjust the font size as needed */
        border-radius: 50%;
        /* Make the arrows circular */
    }
}

/* CSS for gallery responsiveness */
@media (max-width: 767px) {
    .project-gallery a:not(:first-child) {
        display: none;
        /* Hide images after the first one for smaller screens */
    }
}

@media (max-width: 767px) {
    .project-gallery img {
        max-height: 200px;
        /* Further reduce the maximum height for smaller screens */
    }
}



@media (max-width: 767px) {
    .project {
        padding: 10px;
    }
}




canvas {
    display: block;
    vertical-align: bottom;
}


#particles-js {
    flex: 1;
    /* Allow the particles div to take the remaining vertical space */
    background-color: #95C0D3;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    margin-bottom: -20px;
    /* Adjust this value as needed */
    position: relative;
}


.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}

.particles-js-canvas-el {
    width: 100% !important;


}